
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/flatly/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/css/bstreeview.min.css" rel="stylesheet">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <style>
        body { background: #fafafa; font-family: 'Roboto Condensed'; }
        .container { margin: 150px auto; }
    </style>
    <title>Bootstrap Tree List Plugin Example</title>
</head>

<body>
<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h1>Dynamic Category SubCategory Tree Example</h1>
            </div>
        </div>
        <div class="col-md-4 pt-5">
            <div id="tree"></div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="js/bstreeview.min.js">
</script>
<script>
    $(document).ready(function(){
// var json = [
        //     {
        //         text: "Inbox",
        //         icon: "fa fa-list-alt",
        //         nodes: [
        //             {
        //                 text: "Office",
        //                 icon: "fa fa-inbox",
        //                 nodes: [
        //                     {
        //                         icon: "fa fa-inbox",
        //                         text: "Customers"
        //                     },
        //                     {
        //                         icon: "fa fa-inbox",
        //                         text: "Co-Workers"
        //                     }
        //                 ]
        //             },
        //             {
        //                 icon: "fa fa-inbox",
        //                 text: "Others"
        //             }
        //         ]
        //     },
        //     {
        //         icon: "fa fa-archive",
        //         text: "Drafts"
        //     },
        //     {
        //         icon: "fa fa-calendar",
        //         text: "Calendar"
        //     },
        //     {
        //         icon: "fa fa-address-book",
        //         text: "Contacts"
        //     },
        //     {
        //         icon: "fa fa-trash",
        //         text: "Deleted Items"
        //     }
        // ];
        $.ajax({
            url: 'http://localhost:8080/api/category',
            // data: {},
            dataType: 'json',
            success: function(data) {
                console.log(data);


                $('#tree').bstreeview({ data: JSON.stringify(data)});
            },
            error: function(err){
              console.log(err);
            },
            type: 'GET'
        });
    });

</script>
</body>
</html>
